.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.status {
  margin-bottom: 10px;
  font-size: 20px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
